<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
    <title>info&supdsub;collect</title>
    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}" media="all" type="text/css"
          rel="stylesheet">

    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 40px;
        }

        /* Custom container */
        .container-narrow {
            margin: 0 auto;
            max-width: 700px;
        }

        .container-narrow > hr {
            margin: 30px 0;
        }

        /* Main marketing message and sign up button */
        .jumbotron {
            margin: 60px 0;
            text-align: left;
        }

        .jumbotron h1 {
            font-size: 64px;
            line-height: 1;
        }

        .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
        }

        /* Supporting marketing content */
        .department {
            margin: 60px 0;
        }

        .department p + h4 {
            margin-top: 28px;
        }
    </style>
    <link href="/static/css/bootstrap-responsive.css" th:href="@{/static/css/bootstrap-responsive.css}" media="all"
          type="text/css"
          rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="container-narrow">
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="info">HOME</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
        <h3 class="muted">info-collect</h3>
    </div>
    <hr>
    <div class="jumbotron">
        <h1 th:text="${teacherName}"></h1>
        <p class="lead" align="left">以下为本校2019届所有院系新生信息表, 请您确认无误后按需下载, 如有任何问题请联系我们, 谢谢合作!</p><br>
        <p class="muted" align="left">The following are information forms of all students of 2019,&nbsp;please
            be confirmed before download,&nbsp;if you have any questions,&nbsp;please contact us, thank you for your
            cooperation!</p>
        <!--<a class="btn btn-large btn-success" href="#">Sign up today</a>-->
    </div>
    <hr>
    <div class="panel-group department" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseOne">
                        <button class="btn btn-primary btn-block">
                            理工类
                        </button>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body row-fluid">
                    <div class="span6">
                        <div class="well">
                            <h4>地球科学与工程学院</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="dkTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                        <div class="well">
                            <h4>计算机学院</h4>
                            <p>bulabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="jkTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                        <div class="well">
                            <h4>石油工程学院</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="sgTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                        <div class="well">
                            <h4>机械工程学院</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="jxTable">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="well">
                            <h4>材料科学与工程学院</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="clTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                        <div class="well">
                            <h4>理学院</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="lTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                        <div class="well">
                            <h4>化学化工学院</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="hgTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                        <div class="well">
                            <h4>电子工程学院</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="dqTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo">
                        <button class="btn btn-block btn-primary">
                            文学类
                        </button>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body row-fluid">
                    <div class="span6">
                        <div class="well">
                            <h4>马克思主义学院</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="mksTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                        <div class="well">
                            <h4>人文学院</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="rwTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="well">
                            <h4>外国语学院</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="wgyTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                        <div class="well">
                            <h4>经济管理学院</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="jgTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree">
                        <button class="btn btn-block btn-primary">
                            艺术类
                        </button>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body row-fluid department">
                    <div class="span6">
                        <div class="well">
                            <h4>体育系</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="tyTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                        <div class="well">
                            <h4>音乐系</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="yyTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="well">
                            <h4>国际教育学院(丝路能源学院)</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="gjTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                        <div class="well">
                            <h4>继续教育学院</h4>
                            <p>blabulabula</p>
                            <div class="btn-group">
                                <button class="btn btn-success">下载</button>
                                <a href="jxjyTable" target="_blank">
                                    <button class="btn">预览</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer">
        <p>&copy; Company 2019</p>
    </div>
</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/static/js/jquery.js              "
        th:src="@{/static/js/jquery.js              }"></script>
<script type="text/javascript" src="/static/js/bootstrap.js           "
        th:src="@{/static/js/bootstrap.js           }"></script>
<!--<script type="text/javascript" src="/static/js/bootstrap-transition.js"-->
<!--th:src="@{/static/js/bootstrap-transition.js}"></script>-->
<script type="text/javascript" src="/static/js/bootstrap-alert.js     "
        th:src="@{/static/js/bootstrap-alert.js     }"></script>
<script type="text/javascript" src="/static/js/bootstrap-modal.js     "
        th:src="@{/static/js/bootstrap-modal.js     }"></script>
<!--<script type="text/javascript" src="/static/js/bootstrap-dropdown.js  "-->
<!--th:src="@{/static/js/bootstrap-dropdown.js  }"></script>-->
<!--<script type="text/javascript" src="/static/js/bootstrap-scrollspy.js "-->
<!--th:src="@{/static/js/bootstrap-scrollspy.js }"></script>-->
<script type="text/javascript" src="/static/js/bootstrap-tab.js       "
        th:src="@{/static/js/bootstrap-tab.js       }"></script>
<script type="text/javascript" src="/static/js/bootstrap-tooltip.js   "
        th:src="@{/static/js/bootstrap-tooltip.js   }"></script>
<!--<script type="text/javascript" src="/static/js/bootstrap-popover.js   "-->
<!--th:src="@{/static/js/bootstrap-popover.js   }"></script>-->
<script type="text/javascript" src="/static/js/bootstrap-button.js    "
        th:src="@{/static/js/bootstrap-button.js    }"></script>
<script type="text/javascript" src="/static/js/bootstrap-collapse.js  "
        th:src="@{/static/js/bootstrap-collapse.js  }"></script>
<!--<script type="text/javascript" src="/static/js/bootstrap-carousel.js  "-->
<!--th:src="@{/static/js/bootstrap-carousel.js  }"></script>-->
<!--<script type="text/javascript" src="/static/js/bootstrap-typeahead.js "-->
<!--th:src="@{/static/js/bootstrap-typeahead.js }"></script>-->
</body>
</html>

