<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link th:href="@{/favicon.ico}" rel="shortcut icon">
    <title>information</title>
    <style>
        body {
            min-height: 100%;
            padding-top: 20px;
            padding-bottom: 40px;
            background: linear-gradient(white, rgba(52, 52, 52, 0.86)) no-repeat;
            font-family: "Microsoft YaHei UI", monospace;
        }

        html {
            min-height: 100%;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="table well">
        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <td>姓名</td>
                <td>专业</td>
                <td>班级</td>
                <td>学号</td>
                <td>联系方式</td>
                <td>家庭住址</td>
                <td>家庭联系人&sup1;</td>
                <td>联系方式</td>
                <td>家庭联系人&sup2;</td>
                <td>联系方式</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students.list}">
                <td th:text="${student.realName}"></td>
                <td th:text="${student.major}"></td>
                <td th:text="${student.className}"></td>
                <td th:text="${student.stuId}"></td>
                <td th:text="${student.phoneNum}"></td>
                <td th:text="${student.address}"></td>
                <td th:text="${student.parent1}"></td>
                <td th:text="${student.parent1PhoneNum}"></td>
                <td th:text="${student.parent2}"></td>
                <td th:text="${student.parent2PhoneNum}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div align="center" style="margin-top: -30px">
    <ul class="pagination pagination-centered pagination-lg">
        <li>
            <a class="btn-link" th:if="${not isFirstPage}"
               th:href="@{${deptId}(pageNum=${pageNum - 1},pageSize=${pageSize})}"
               aria-label="Previous">
                <span>&laquo;</span>
            </a>
            <a class="btn-link disabled" th:if="${isFirstPage}" aria-label="Previous">
                <span>&laquo;</span>
            </a>
        </li>
        <li th:each="pageNo : ${#numbers.sequence(1,totalPages)}">
            <a class="btn-link disabled" th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                <span th:text="${pageNo}"></span>
            </a>
            <a class="btn-link" th:if="${not (pageNum eq pageNo)}"
               th:href="@{${deptId}(pageNum=${pageNo},pageSize=${pageSize})}">
                <span th:text="${pageNo}"></span>
            </a>
        </li>
        <li>
            <a class="btn-link" th:if="${not isLastPage}"
               th:href="@{${deptId}(pageNum=${pageNum + 1},pageSize=${pageSize})}"
               aria-label="Next">
                <span>&raquo;</span>
            </a>
            <a class="btn-link disabled" th:if="${isLastPage}" aria-label="Next">
                <span>&raquo;</span>
            </a>
        </li>
    </ul>
</div>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
</body>
</html>
