<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>设置起始时间</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link href="/static/css/cover.css" th:href="@{/static/css/cover.css}" rel="stylesheet">
</head>
<style>
    .container-narrow {
        margin: 70px auto;
        max-width: 700px;
    }

    body {
        width: auto;
        font-family: Times, sans-serif;
        background: linear-gradient(white, rgba(52, 52, 52, 0.86)) no-repeat;
    }

    input {
        font-size: larger;
        text-align: center;
        font-family: Times, cursive
    }

    #student, #teacher {
        margin-left: 20px;
        margin-right: 20px;
    }
</style>
<body class="container-fluid">
<h2 align="left" class="text-muted">Manager</h2>
<hr>
<form action="setTime" class="form-actions">
    <div class="container-narrow row">
        <div id="student" class="col-md-5 well">
            <span style="font-size: large;font-family: 仿宋,cursive;color: rgba(31,31,31,0.86);">学生</span><br>
            <div class="input-group">
                <span class="input-group-addon">开始</span>
                <input name="studentStartTime" class="form-control input-block-level" type="date"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">结束</span>
                <input name="studentEndTime" class="form-control input-block-level" type="date"/>
            </div>
        </div>
        <div id="teacher" class="col-md-5 well">
            <span style="font-size: large;font-family: 仿宋,cursive;color: rgba(31,31,31,0.86);">教师</span><br>
            <div class="input-group">
                <span class="input-group-addon">开始</span>
                <input name="teacherStartTime" class="form-control input-block-level" type="date"/>
            </div>
        </div>
    </div>
    <hr>
    <input style="margin-top: 0;margin-right: 25%" type="submit"
           class="btn btn-success btn-lg pull-right" value="提交">
</form>
<script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>