<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>设置起始时间</title>
    <link href="/static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}" type="text/css"
          rel="stylesheet"/>
</head>
<body>
<div th:cellpadding="10" class="well pagination-centered">
    <form th:action="@{setTime}" class="form-actions">
        <div class="input-group">
            <span class="input-group-addon">学生开始录入时间</span>
            <input name="studentStartTime" class="form-control input-block-level input-large" type="date"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">学生结束录入时间</span>
            <input name="studentEndTime" class="form-control input-block-level input-large" type="date"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">教师开始下载时间</span>
            <input name="teacherStartTime" class="form-control input-block-level input-large" type="date"/>
        </div>
        <button type="submit" class="btn btn-info btn-large">提交</button>
    </form>
</div>

<script type="text/javascript" src="/static/js/jquery.js              "
        th:src="@{/static/js/jquery.js              }"></script>
<script type="text/javascript" src="/static/js/bootstrap.js           "
        th:src="@{/static/js/bootstrap.js           }"></script>
</body>
</html>